<h1>Edit Product</h1>
<form action="/products/<%= product._id %>" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= product.name %>" required />
  <label>Price:</label>
  <input type="number" name="price" value="<%= product.price %>" required />
  <label>Description:</label>
  <textarea name="description"><%= product.description %></textarea>
  <button type="submit">Update</button>
</form>
<a href="/products">Back to Products</a>
