<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page <%= 4 + 5 + 1 %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dignissimos obcaecati amet. Officia corrupti quae ad quasi rerum explicabo dolore possimus numquam aspernatur et. Adipisci id nemo beatae doloribus harum.
    </p>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi esse in laborum illo, beatae dolores earum recusandae autem aspernatur deleniti natus, sequi quia et. Veritatis dicta deserunt assumenda non fugiat?
    </p>
</body>
</html>